/* Color Pallette: https://coolors.co/ffe787-392b58-82a3a1-dba8ac-335145
Yellow: ffe787
Dark Blue:392b58
Light Blue: 82a3a1
Pink: dba8ac
Green: 335145
*/

/* ----- Global Styles ----- */
img {
    width: 300px;
}

/* ----- Profile ----- */


/* ----- Projects ----- */


/* ----- Work Experience ----- */


/* ----- Education ----- */


/* ----- Contact Info ----- */