/* 
    DGL 203 Advanced CSS: Assignment 1
    Author: Montana Pistell n0145744
    Last Modified: October 4, 2021
*/

/* Color Palette: https://coolors.co/f5f6f4-cad2c5-dd7373-945d5e-598388-2f3e46
Darkest: #2F3E46
Medium: #598388
Neutral: #CAD2C5
Almost-white: #F5F6F4
Accent Light: #DD7373
Accent Dark: #945D5E
*/

/* ----- Global Styles ----- */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    color: #2F3E46;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 150%;
}
img {
    width: 300px;
}
a {
    color: #DD7373;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 75px;
}
h2 {
    font-size: 36px;
}
h1, h2 {
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
}
.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}
h3 {
    margin-bottom: 0;
}
.item-details h3 + p {
    font-style: italic;
}
.item-details h3 ~ p {
    margin: 0;
}
.divider > section {
    border-bottom: 1px dashed #2F3E46;
    padding: 25px 0;
}
.divider > section:last-of-type {
    border-bottom: none;
}

/* ----- Profile ----- */
header {
    background-color: #2F3E46;
    color: #F5F6F4;
}
header h1, header h2 {
    color: #DD7373;
}
header h2 {
    color: #598388;
}

/* ----- Projects ----- */
.projects {
    background-color: #CAD2C5;
}
.projects a{
    color: #945D5E;
}
.projects .btn {
    color: #F5F6F4;
    background-color: #945D5E;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover {
    background-color: #DD7373;
}
.project-item {
    overflow: hidden;
}
.project-item h3 {
    margin-top: 0;
}

/* ----- Work Experience ----- */
.work-experience {
    background-image: url(../images/annie-spratt-unsplash-blurred.png);
    background-size: cover;
    background-position: top right;
    padding-bottom: 50px;
    color: #F5F6F4;
}
.work-experience section {
    border-bottom: 1px dashed #F5F6F4;
}

/* ----- Education ----- */
.education {
    background-color: #CAD2C5;
    color: #2F3E46;
}

/* ----- Achievements ----- */
.achievements {
    background-color: #F5F6F4;
    color: #2F3E46;
}

/* ----- Contact Info ----- */
footer {
    background-color: #2F3E46;
    color: #F5F6F4;
}
.contact-list {
    list-style-type: none;
    padding: 0;
}
.contact-list a {
    padding: 15px;
    display: inline-block;
}

/* ----- Responsive Media Queries ----- */
@media screen and (min-width: 750px){
    header, footer {
        text-align: center;
    }
    .project-item img {
        float: left;
        margin-right: 20px;
    }
    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }
    .contact-list {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 749px) {
    h1 {
        font-size: 60px;
        line-height: 100%;
        margin-bottom: -10px;
    }
    h2 {
        line-height: 125%;
    }
    .contact-list a {
        padding: 5px;
    }
}